# /etc/systemd/system/nginx-le.service

[Unit]
Description=Docker Compose nginx-le Application Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/bomzheg/docker-services/nginx_le
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=3

[Install]
WantedBy=multi-user.target

# sudo cp nginx-le.service /etc/systemd/system/
# sudo systemctl enable nginx-le
# sudo systemctl start nginx-le